<ion-header>
  <ion-toolbar color="dark" no-border no-padding mode="ios">
    <ion-buttons slot="start">
      <ion-button class="home-btn" mode="ios" (click)="navigateToHome()">
        <ion-icon slot="start" name="ios-arrow-back" style="font-size: 16px"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-title text-center>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img src="assets/imgs/details/NakBig.jpg" width="100%">
  <br>

  <h4 style="font-weight: bold">The Angkor Tour Guide</h4>
  <a href="http://www.theangkorguide.net/" style="text-decoration: none; font-weight:bold; font-size: 16px; 
			color: #CC0000; border-bottom: 1px solid #999999">
    www.theangkorguide.net</a>
  <br>

  <p style="font-size: 13px">Welcome - My name is Ratanak and I want to be your Angkor Tour Guide.</p> 

  <p style="font-size: 13px">My area of expertise is the history and architecture of the Angkor complex. I am fluent in English and Khmer. I have excellent
    verbal communication and the ability to build strong relationship and be diplomatic. You can book me direct through my
    website or through travel blog referrals.</p>

  <p style="font-size: 13px">I am also a photographer for you and registered to Ministry of Tourism and Viator Expert Local Guide.</p>
  <br>

  <img align="left" src="assets/imgs/details/Nak-1.jpg" width="32%">
  <img style="margin-left: 6px" src="assets/imgs/details/Nak-2.jpg" width="32%">
  <img align="right" src="assets/imgs/details/Nak-3.jpg" width="32%">

</ion-content>