<ion-header>
  <ion-toolbar color="dark" no-border no-padding mode="ios">
    <ion-buttons slot="start">
      <ion-button class="home-btn" routerLink="/home" mode="ios">
        <ion-icon slot="start" name="home" style="font-size: 16px"></ion-icon>
        Home
      </ion-button>
    </ion-buttons>
    <ion-title text-center>
      Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content-image">
  </div>

  <ion-item tappable (click)="navigateToFrndInfo()">
    <ion-thumbnail slot="start" style="width: 70px; height: 80px;">
      <img src="/assets/imgs/friends/NakLogo.jpg">
    </ion-thumbnail>
    <ion-label no-padding>
      <h2 style="color: #ffffff; font-weight: bold">The Angkor Tour Guide</h2>
      <p style="color: #ffffff">Tours/Sightseeing, Siem Reap</p>
      <p style="color: #ffffff">ratanak_eath@yahoo.com</p>
      <p style="color: #ffffff">(855) 92-725 552</p>
    </ion-label>
    <ion-icon name="arrow-dropright-circle" slot="end" mode="ios" color="light"></ion-icon>
  </ion-item>

  <ion-item tappable (click)="navigateToFrndInfo()">
    <ion-thumbnail slot="start" style="width: 70px; height: 80px;">
      <img src="/assets/imgs/friends/NakLogo.jpg">
    </ion-thumbnail>
    <ion-label no-padding>
      <h2 style="color: #ffffff; font-weight: bold">The Angkor Tour Guide</h2>
      <p style="color: #ffffff">Tours/Sightseeing, Siem Reap</p>
      <p style="color: #ffffff">ratanak_eath@yahoo.com</p>
      <p style="color: #ffffff">(855) 92-725 552</p>
    </ion-label>
    <ion-icon name="arrow-dropright-circle" slot="end" mode="ios" color="light"></ion-icon>
  </ion-item>

  <ion-item tappable (click)="navigateToFrndInfo()">
    <ion-thumbnail slot="start" style="width: 70px; height: 80px;">
      <img src="/assets/imgs/friends/NakLogo.jpg">
    </ion-thumbnail>
    <ion-label no-padding>
      <h2 style="color: #ffffff; font-weight: bold">The Angkor Tour Guide</h2>
      <p style="color: #ffffff">Tours/Sightseeing, Siem Reap</p>
      <p style="color: #ffffff">ratanak_eath@yahoo.com</p>
      <p style="color: #ffffff">(855) 92-725 552</p>
    </ion-label>
    <ion-icon name="arrow-dropright-circle" slot="end" mode="ios" color="light"></ion-icon>
  </ion-item>

  <!-- <ion-item tappable (click)="navigateToFrndInfo()">
    <ion-thumbnail slot="start" style="width: 70px; height: 80px;">
      <img src="/assets/imgs/friends/NakLogo.jpg">
    </ion-thumbnail>
    <ion-label no-padding>
      <h2 style="color: #ffffff; font-weight: bold">The Angkor Tour Guide</h2>
      <p style="color: #ffffff">Tours/Sightseeing, Siem Reap</p>
      <p style="color: #ffffff">ratanak_eath@yahoo.com</p>
      <p style="color: #ffffff">(855) 92-725 552</p>
    </ion-label>
    <ion-icon name="arrow-dropright-circle" slot="end" mode="ios" color="light"></ion-icon>
  </ion-item> -->

</ion-content>