ion-item {
    --background: #3093c7 !important
}

.content-image {max-width:400px; height:180px; margin: 0 auto;}
.content-image {
    background-image:url('../../assets/imgs/friends/hello.jpg');
    background-size:100% 100%; background-repeat : no-repeat;
}