.bg-image {
    --background: url('../../assets/imgs/photos/2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    width: 100%;
}


.swiper-button-next, .swiper-button-prev {
    background: none;
}

ion-img {
    height: 100%; 
    width: 100%;
}

.bg-image1 {   
    // Background Image
    background: url('../../assets/imgs/photos/1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    width: 100%;
    height: 100%;        
}

.bg-image2 {   
    // Background Image
    background: url('../../assets/imgs/photos/2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    width: 100%;
    height: 100%;        
}

.bg-image3 {   
    // Background Image
    background: url('../../assets/imgs/photos/3.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    width: 100%;
    height: 100%;        
}