<ion-header>
  <ion-toolbar color="dark" no-border no-padding mode="ios">
    <ion-buttons slot="start">
      <ion-button class="home-btn" routerLink="/home" mode="ios">
        <ion-icon slot="start" name="home" style="font-size: 16px"></ion-icon>
        Home
      </ion-button>
    </ion-buttons>
    <ion-title text-center>
      Photos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="slideOpts" #slides style="height: 100%;">
    <ion-slide class="bg-image1">
    </ion-slide>
    <ion-slide class="bg-image2">
    </ion-slide>
    <ion-slide class="bg-image3">
      <!-- <ion-img src="/assets/imgs/photos/3.jpg"></ion-img> -->
    </ion-slide>
  </ion-slides>

  <ion-icon name="arrow-dropleft-circle" class="swiper-button-prev" (click)="prevSlide()" mode="ios"></ion-icon>
  <ion-icon name="arrow-dropright-circle" class="swiper-button-next" (click)="nextSlide()" mode="ios"></ion-icon>

</ion-content>