// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";








:root {

    // Background of the Tab bar
    // --ion-tab-bar-background: #222;

    // Background of the focused Tab bar
    // --ion-tab-bar-background-focused: #222;

    // Border color of the Tab bar
    // --ion-tab-bar-border-color: #222;

    // Color of the Tab bar
    // --ion-tab-bar-color	: #ffffff;

    // Color of the activated Tab
    // --ion-tab-bar-color-activated: #ffffff;
    

}


.searchbar-input {
    background: #FFF !important;
    border-radius: 20px !important;
    // height: 40px !important;
    // max-width: 400px;
    // font-size: 1.25em !important;
    // border: 1px solid transparent;
}


ion-header {
    color: var(--ion-color-dark) !important;
    ion-toolbar{
        --background: #EEEEEE !important;
        // text-align:center;
    }   
}


.home-btn {
    font-size: 14px !important; 
    box-shadow: 0px 1px 0 rgba(255,255,255,.3) !important; 
    border-radius: 25px !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    border: 1px solid #111 !important;
    background-image: linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/) !important;
    color: #ffffff !important;
}