<!-- <ion-header>
  <ion-toolbar no-border no-padding>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-item  no-padding class="container">
        <ion-label no-padding>
          <img src="assets/imgs/KM_1400.svg" alt="start" width="100%"/>
        </ion-label>
      </ion-item>
    <div class="container">
        <img src="assets/imgs/KM.svg" alt="logo">    
    </div>
    <img src="assets/imgs/KM.svg" alt="logo" width="100%">
  </ion-toolbar>
</ion-header> -->


<ion-content>
  <br>
  <br>
  <img src="assets/imgs/AboutUs/youcan_65.png" alt="you-can">

  <h2>Useful Words in Cambodian Language</h2>

  <p style="font-size: 16px; color:#ec8f1f;">
    <strong>Impress the Locals and Have Fun!</strong>
  </p>

  <img src="assets/imgs/AboutUs/start.png" alt="start" (click)="start()" />

  <p>
    <strong>Khmer</strong> pronounced Khe-my,
    <br>is the language of the Khmer people and the official language of Cambodia.
    <br>
    <br>
    <strong>Khmer</strong> has been influenced by Sanskrit and Pali, especially in the royal and religious registers, through the
    vehicles of Hinduism and Buddhism.
    <br>
    <br>
    <strong>The Khmer alphabet</strong> has a total of 74 letters. This alphabet is used in Cambodia, Vietnam, and Thailand.
  </p>

  <div style="margin-bottom: 0px; text-align: center">
    <img src="assets/imgs/AboutUs/khmer7.png" alt="khmer" />
  </div>

  <p style="margin: 0px">
    <span>
      <strong>Preăh Réachéanachâk Kâmpŭchéa</strong>
    </span>
    <br>
    <span>Official name of Cambodia in Khmer</span>
  </p>
  <br>
</ion-content>
